footer{
    padding:50px 0;
    background-color:$comman-color;
    color:#fff;
    text-align: center;

    .inner{
        @include inner_box;
        padding: 0;
    }

    .text{
        h3{
            text-shadow: 0 0 2px #fff;
        }

        .fa{
            color:$comman-bgcolor;
            padding-left:30px;
            margin:30px 0;
        }

        .sentence{
            font-size: 14px;
        }

        hr{
            width: 50%;
            display: inline-block;
            border: 0;
            height: 0.5px;
            background-color: #fff;
        }

        p{
            font-size: 13px;
            margin-top:20px;
        }
    }

    @media only screen and(max-width:1200px){
        padding:20px 0;
        background-color:$comman-color;
        color:#fff;
        text-align: center;
    
        .inner{
            @include inner_box;
            padding: 0;
        }
    
        .text{
            h3{
                text-shadow: 0 0 2px #fff;
                font-size: 15px;
            }
    
            .fa{
                color:$comman-bgcolor;
                padding-left:00px;
                margin:0px 0;
                font-size:6px;
            
            }

            .sentence{
               
                font-size:6px;
                margin-left: 2px;


            }
    
            hr{
                width: 50%;
                // display: inline-block;
                border: 0;
                height: 0.5px;
                background-color: #fff;
                
            }
    
            p{
                font-size:8px;
                margin-top:10px;
            }
        }
    }
}